/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer-sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: left;
  color: white;
     
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 4px;
  border-top-right-radius: 48px;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 4px;
  
  background-image: url('/images/background-jumbotron.jpg');
  background-size:   cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.spacer{
  min-height: 0.5em;
}

.jumbotron h1 {
    text-shadow:
   -1px -1px 0 black,  
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
}

.jumbotron h2 {
    text-shadow:
   -0.5px -0.5px 0 black,  
    0.5px -0.5px 0 black,
    -0.5px 0.5px 0 black,
     0.5px 0.5px 0 black;
}

.jumbotron p {
    text-shadow:
   -0.25px -0.25px 0 black,  
    0.25px -0.25px 0 black,
    -0.25px 0.25px 0 black,
     0.25px 0.25px 0 black;
}

.arenas {
  border-top-left-radius: 2px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 2px;  
  background-size:   cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.arenas h2 {
text-shadow:
   -0.5px -0.5px 0 white,  
    0.5px -0.5px 0 white,
    -0.5px 0.5px 0 white,
     0.5px 0.5px 0 white;  
}

.arenas p {
 text-shadow:
   -0.25px -0.25px 0 white,  
    0.25px -0.25px 0 white,
    -0.25px 0.25px 0 white,
     0.25px 0.25px 0 white; 
}

.arena-web {
  background-image: url('/images/background-web.jpg');  
}

.arena-software {
  background-image: url('/images/background-software.jpg');  
}

.arena-cloud {
  background-image: url('/images/background-cloud.jpg');  
}

.arena-mobile {
  background-image: url('/images/background-mobile.jpg');  
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
