<div class="col-md-9">
	<h1><span class="glyphicon glyphicon glyphicon-earphone"></span>&nbsp;Contact Us</h1>
	
	<p><abbr title="Email"><span class="glyphicon glyphicon glyphicon-envelope"></span></abbr> <a href="mailto:info@cheviot-consulting.co.uk">info@cheviot-consulting.co.uk</a></p>
	<abbr title="Email"><span class="glyphicon glyphicon glyphicon-twitter"></span></abbr> <a href="https://twitter.com/cheviot-consulting">@cheviot-consulting</a>

</div>
<div class="col-md-3 well">
	<p>Are you more of a tradtionalist?</p>
	<address>
		<strong>Cheviot Consulting</strong><br />
		7 Heathrow Copse<br/>
		Baughurst<br/>
		Tadley<br/>
		Hants<br/>
		<i>RG26&nbsp;5JG</i><br/>
		<br/>
		<abbr title="Phone"><span class="glyphicon glyphicon glyphicon-earphone"></span></abbr> +44 (0) 118 4374933<br />
	</address>
</div>
