<div class="col-md-9">
	<h1><span class="glyphicon glyphicon-globe"></span>&nbsp;Web</h1>
</div>
<div class="col-md-3 well">
	<blockquote>
		<div>
		<strong>Web development</strong> is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing the simplest static single page of plain text to the most complex web-based internet applications, electronic businesses, and social network services.
		</div>
		<footer class="pull-right"><cite source="https://en.wikipedia.org/wiki/Web_development">Wikipedia</cite></footer>
		</blockquote>
</div>
		