<div class="col-md-9">
	<h1><span class="glyphicon glyphicon-cloud"></span>&nbsp;Cloud</h1>
</div>
<div class="col-md-3 well">
	<blockquote>
		<div>
		<p><strong>Cloud computing</strong> is a model for enabling ubiquitous network access to a shared pool of configurable computing resources.</p>
		<p>Cloud computing and storage solutions provide users and enterprises with various capabilities to store and process their data in third-party data centers. It relies on sharing of resources to achieve coherence and economies of scale, similar to a utility (like the electricity grid) over a network. At the foundation of cloud computing is the broader concept of converged infrastructure and shared services.</p>
		</div>
		<footer class="pull-right"><cite source="https://en.wikipedia.org/wiki/Web_development">Wikipedia</cite></footer>
		</blockquote>
</div>
