<div class="col-md-9">
	<h1><span class="glyphicon glyphicon-qrcode"></span>&nbsp;Software</h1>
</div>
<div class="col-md-3 well">
	<blockquote>
		<div>
			<p><strong>Computer software</strong> or simply <strong>software</strong> is any set of machine-readable instructions that directs a computer's processor to perform specific operations. Computer software contrasts with computer hardware, which is the physical component of computers. Computer hardware and software require each other and neither can be realistically used without the other. Using a musical analogy, hardware is like a musical instrument and software is like a sheet music (score).			
			</p></div>
		<footer class="pull-right"><cite source="https://en.wikipedia.org/wiki/Software">Wikipedia</cite></footer>
		</blockquote>
</div>
