<div class="jumbotron">
  <h1 class="text-left">Development Consulting</h1>
  <h2 class="text-left">for the real world.</h2>
  <p class="text-left">Agile practices - Test or Behavior driven development - Continuous integration, deployment & testing.</p>
  <p class="text-right"><a class="btn btn-lg btn-primary" ng-href="#">Learn more&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
</div>

<div class="row">
        <div class="col-md-3">
          <h2><span class="glyphicon glyphicon-globe"></span>&nbsp;Web</h2>
          <p style="height: 4em;">ASP.Net - HTML5 - Javascript - Node.js</p>
          <p class="text-right"><a class="btn btn-small btn-primary" href="/Info/Web">Learn more&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
        </div>
        <div class="col-md-3">
          <h2><span class="glyphicon glyphicon-qrcode"></span>&nbsp;Software</h2>
          <p style="height: 4em;">Desktop - Server - Enterprise</p>
          <p class="text-right"><a class="btn btn-small btn-primary" href="/Info/Software">Learn more&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
       </div>
        <div class="col-md-3">
          <h2><span class="glyphicon glyphicon-cloud"></span>&nbsp;Cloud</h2>
          <p style="height: 4em;">Cloud hosting - Platform-as-a-Service - Windows Azure - Amazon AWS</p>
          <p class="text-right"><a class="btn btn-small btn-primary" href="/Info/Cloud">Learn more&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
        </div>
        <div class="col-md-3">
          <h2><span class="glyphicon glyphicon-phone"></span>&nbsp;Mobile</h2>
          <p style="height: 4em;">Windows Phone - iPhone - Microsoft Surface - iPad - Android</p>
          <p class="text-right"><a class="btn btn-small btn-primary" href="/Info/Mobile">Learn more&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
        </div>
      </div>
</div>
