<div class="jumbotron">
  <h1>Development Consulting</h1>
  <h2>for the real world.</h2>
  <div class="spacer"></div>
  <div>
    <p>We can help you with</p>
  <ul>
    <li>Agile practices</li>
    <li>Test or Behavior driven development</li>
    <li>Continuous integration, deployment & testing.</li>
  </ul>
  </div>
  <p class="text-right"><a class="btn btn-lg btn-primary" ng-href="#/about">Learn more&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
</div>

<div class="row">
        <div class="col-md-3"><div class="well arenas arena-web">
          <h2><span class="glyphicon glyphicon-globe"></span>&nbsp;Web</h2>
          <p style="height: 4em;">ASP.Net - HTML5 - Javascript - Node.js</p>
          <p class="text-right"><a class="btn btn-small btn-primary" ng-href="#/info/web">Learn more&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
        </div></div>
        <div class="col-md-3"><div class="well arenas arena-software">
          <h2><span class="glyphicon glyphicon-qrcode"></span>&nbsp;Software</h2>
          <p style="height: 4em;">Desktop - Server - Enterprise</p>
          <p class="text-right"><a class="btn btn-small btn-primary" ng-href="#/info/software">Learn more&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
       </div></div>
        <div class="col-md-3"><div class="well arenas arena-cloud">
          <h2><span class="glyphicon glyphicon-cloud"></span>&nbsp;Cloud</h2>
          <p style="height: 4em;">Cloud hosting - Platform-as-a-Service - Windows Azure - Amazon AWS</p>
          <p class="text-right"><a class="btn btn-small btn-primary" ng-href="#/info/cloud">Learn more&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
        </div></div>
        <div class="col-md-3"><div class="well arenas arena-mobile">
          <h2><span class="glyphicon glyphicon-phone"></span>&nbsp;Mobile</h2>
          <p style="height: 4em;">Windows Phone - iPhone - Microsoft Surface - iPad - Android</p>
          <p class="text-right"><a class="btn btn-small btn-primary" ng-href="#/info/mobile">Learn more&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a></p>
        </div></div>
      </div>
</div>
